    <h1>Login</h1>

    <!--Display language option-->
     <div class="translate">
      <h2>{{ 'HOME.TITLE' | translate }}</h2>
      <label>
        {{ 'HOME.SELECT' | translate }}
        <select #langSelect (change)="translate.use(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>
      </label>
    </div>
  <!-- Display form -->
    <form class="login-form">
        <div class="form-group">
            <label for="inputEmial">Email Adress</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" 
            [(ngModel)]="users.email" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label for="inputFirstName">First Name</label>
            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name"
            [(ngModel)]="users.firstName" [ngModelOptions]="{standalone: true}">
        </div>
        <textarea class="form-control" rows="3" placeholder="Description"
        [(ngModel)]="users.description" [ngModelOptions]="{standalone: true}"></textarea>

        <!--file upload -->
        <div class="form-group">
            <label for="inputFile">File name</label>
            <!--<input type="file" id="file" accept="image/" (change)="handleInputImage($event)">-->
            <!--Image-->
 
                    <!--<img [attr.src]="images"/> -->
                    <!--<img src="data:image/jpg;base64,{{images}}" />-->
                    <!--<img src="'data:image/jpg;base64/,'+images" />-->

                    <input type="file" (change)="changeListner($event)" />
        <img class="imag" />
            
        </div>
        
        <button type="submit" class="btn btn-default" (click)="userInfo()">Submit</button>
    </form>

<!--Rendering firebase database-->
    <ul>
        <li class="text" *ngFor="let item of items | async">
            Email :{{item.email}}<br>
            FirstName: {{item.firstName}}<br>
            Description: {{ item.description}}<br>
            Image :<br>
            <img [src]="image" alt=""> 
            <hr>
        </li>
  </ul>


 


